{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>

    <!-- Leaflet.draw -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.css" />

    <!-- geoJSON file -->
    <script src="{% static 'json/Sagebrush_Reporting_Units_Counties_2_Simplify.json' %}"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!-- Tabs -->
    <script src="{% static "js/vendor/tabcontent.js" %}" type="text/javascript"></script>
    <link href="{% static "css/vendor/tabcontent.css" %}" rel="stylesheet" type="text/css" />

    <!-- Alertify -->
    {% comment %}
    <link href="{% static "js/vendor/alertify/alertify.js-0.3.11/themes/alertify.core.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "js/vendor/alertify/alertify.js-0.3.11/themes/alertify.default.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/vendor/alertify/alertify.js-0.3.11/lib/alertify.min.js' %}"></script>
    {% endcomment %}

    <!--selectBoxIt (Styled Select Boxes) -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/vendor/SelectBoxIt/css/jquery.selectBoxIt.css' %}" />
    <script src="{% static 'js/vendor/SelectBoxIt/jqueryui/1.9.2/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/SelectBoxIt/js/jquery.selectBoxIt.min.js' %}"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet" type="text/css" />

</head>

<body class="claro">
    <div id="header"><img id="site_icon" src="{% static 'img/site_icon.png' %}">3D Landscape Simulator</div>

    <div id="contents">

        <div id="input">
            <div id="step1" class="steps">Click a County or Draw a Box</div>
            <div id="intro">
                <h4>Welcome & Getting Started</h4>
                <!--
                The 3D Landscape Simulator is a web-based application that allows you to run State-and-Transition Simulation models (powered by ST-Sim) over the internet.
                -->
                The 3D Landscape Simulator is a web-based State-and-transition modelling framework powered by ST-Sim.
                <p>
                <!--
                State-and-transition simulation models allow for the projection of future landscape conditions based on a set of user-defined probabilities, transition rules, and management actions.
                -->
                <p>
                <!--
                To get started with the 3D Landscape Simulator, first select an area of interest in the map. Then use the controls that appear on the left hand side of the screen to define your input conditions and the set of probabilities and management actions you'd like to simulate.
                -->
                To get started with the 3D Landscape Simulator, first select an area of interest in the map. Then use the controls that appear on the left hand side to define the scenario you'd like to simulate.
                <p>
                When you are ready, push the run button to conduct a model run.
                Your results will appear on the right hand side of the screen in a series of charts designed to communicate the future composition of your landscape under the scenario you defined.
            </div>
            <!--<table style="width:100%" id="initial_conditions_table"><tr></tr></table>-->
            <div style="display:none" id="general_settings">
                <div class="steps">1. General Settings</div>
                <table id="general_settings_table">
                    <tr>
                        <td>
                            <div id="library_div" class="general_settings_div">
                                Library:
                            </div>
                        </td>
                        <td>
                            <div class="select_container_2">
                                   <form class="select_form2">
                                       <div class="styled-select2" id="ss1">
                                           <!-- On change, create the charts, passing in whichever variables the user has selectd in all 3 dropdowns -->
                                           <select id="settings_library"></select>
                                       </div>
                                   </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="run_mode_div" class="general_settings_div">
                                Spatial Output:
                            </div>
                        </td>
                        <td>
                            <ul id="button_list2" class="buttons buttons2" data-persist="false">
                                <li id="spatial_button"><a id="spatial_link">Enable</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="timesteps_div" class="general_settings_div">
                                Timesteps:
                            </div>
                        </td>
                        <td>
                            <div class="select_container_2">
                                <input id="settings_timesteps" type="text" value="20">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="iterations_div" class="general_settings_div">
                                Iterations:
                            </div>
                        </td>
                        <td>
                            <div class="select_container_2">
                                <input id="settings_iterations" type="text" value="5">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="display:none" id="input_initial_veg">
                <div class="steps" id="steps_initial_vegetation_cover">2. Specify Initial Vegetation Cover</div>
                <table id="vegTypeSliderTable" class="sliderTable"></table>
                <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">0%</div></div>
            </div>
            <div style="display:none" id="input_probabilistic_transitions">
                <div class="steps">3. Annual Disturbance Probabilities</div>
                <table id="probabilisticTransitionSliderTable" class="sliderTable"></table>
            </div>
            <div style="dislay:none">
                <div style="display:none" id="input_management_scenario">
                    <div class="steps" style="display:none">4.&nbsp;Choose a Management Scenario</div>
                    <form method="post">
                        <div style="display:none" id="management_scenario_radios"></div>
                    </form>
                </div>
            </div>
            <input id="run_button" style="display:none" value="Total Percent Cover Must Equal 100%" class="disabled my-button my-button-ok" type="submit">

        </div>

        <div id="button_container">
            <!--data-persist="true" keeps the current tab active on page refresh-->
            <ul id="button_list" class="buttons" data-persist="false" style="visibility:hidden;">
                <li id="map_button"><a onclick="activate_map()">2D</a></li>
                <li id="scene_button"><a onclick="activate_scene()">3D</a></li>
            </ul>
                <div id="map"></div>
                <div id="scene" style="display:none"></div>
                <span id="selected_features"></span>
                <div id="animation_container">
                    <label class="animation_label" for="animation_slider">Animation Slider (Spatial Outputs)</label>
                    <input id="animation_slider" type="range" min="0" max="0" value="0" step="1">
                    <label class="animation_label" for="viz_type">Show Data?</label>
                    <input id="viz_type" type="checkbox" checked>
                </div>
        </div>

        <div id="output" style="display:block">
            <div id="results">
                <div id="results_loading"></div>
                <div id="running_st_sim" style="display:none">Running ST-Sim...</div>

                 <div id="tab_container">
                    <!--data-persist="true" keeps the current tab active on page refresh-->
                    <ul class="tabs" data-persist="false">
                        <li id="view1_tab" style="display:none"><a id="view1_link" href="#view1">Run 1</a></li>
                        <li id="view2_tab" style="display:none"><a id="view2_link" href="#view2">Run 2</a></li>
                        <li id="view3_tab" style="display:none"><a id="view3_link" href="#view3">Run 3</a></li>
                        <li id="view4_tab" style="display:none"><a id="view4_link" href="#view4">Run 4</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1" class="views">
                            <div id="tabular_output_1">
                                <table id="results_table_1" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view2" class="views">
                            <div id="tabular_output_2">
                                <table id="results_table_2" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view3" class="views">
                            <div id="tabular_output_3">
                                <table id="results_table_3" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view4" class="views">
                            <div id="tabular_output_4">
                                <table id="results_table_4" class="results_table"></table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

     </div>

    <!-- HIDDEN / POP-UP DIV -->
    <div id="pop-up"></div>

    <!-- WebGL Landscape Viewer and dependencies -->
    <script src="{% static 'js/vendor/three/three.min.js' %}"></script>
    <script src="{% static 'js/vendor/three/TGALoader.js' %}"></script>
    <script src="{% static 'js/vendor/three/OrbitControls.js' %}"></script>
    <script src="{% static 'js/vendor/almond.min.js' %}"></script>
    <script src="{% static 'js/landscape-viewer.js' %}"></script>

    <!-- Leaflet Map -->
    <script src="{% static 'leaflet/leaflet_map.js' %}"></script>

    <!-- General Javascript Functions -->
    <script src="{% static 'js/general_js.js' %}"></script>

    <!-- Stacked Area Chart -->
    <script src="{% static 'highcharts/stacked_area.js' %}"></script>

    <!-- Column Chart -->
    <script src="{% static 'highcharts/column_chart.js' %}"></script>


</body>
</html>
